target/
.settings/
.vscode/

/data/stockholm/*
!/data/stockholm/README.md
!/data/stockholm/pop.csv
!/data/stockholm/population.csv
!/data/stockholm/sl_center.zip


stockholm_routes.jsonl
stockholm_routes_results.jsonl

*.swp
*:Zone.Identifier
